* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;

}
.logo{
  max-width: 30px;
  max-height: 30px;
}

.th{
  color: beige;
}
.btnCategorias {
  align-items: center;
  margin-left: 0px;
  font-size: 25px;
  font-weight: bold;
  }



.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
  
}

.itemContainer {
  width: 300px; 
  margin: 10px; 
  display: inline-block;
  text-align: center;
  
}

.cardContainer {
  justify-content: space-between; 
  border-radius: 10px !important;
  overflow: hidden;
}
.cardContainer:hover{
    box-shadow: 0 10px 20px rgba(2, 1, 65, 0.8) !important;
}



.cardImage{
    width: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
}

.cardImage:hover{
transform: scale(1.1);
}

/* ESTILOS PARA EL CARRITO */

.tablaCarrito {
  border-radius: 10px; 
  overflow: hidden;
  margin-top: 60px; 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #5a57579d; 
  box-shadow: 0 0 10px rgba(224, 217, 217, 0.5); 
}


.table {
  width: 100%;
  background-color: #413c3c1c;
  
}

.total {
  font-size: 30px !important; 
  font-weight: bold; 
  color:rgb(0, 0, 0); 
  text-align: center;
  margin-top: 20px !important; 
  margin-bottom: 20px !important;
  padding-top: 10px; 
  border-top: 1px solid #000000; 
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5); 
}


.button {
  margin-top: 10px; 
  font-size: 16px; 
  font-weight: bold; 
  background-color: #ff0000; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.vaciarCarritoContainer {
  margin-bottom: 20px; 
}

.alertToast{
  color: white;
}